.product_container {
    width: 100%;
    height: 90vw;
}

#product {
    width: 70%;
}

.item_img {
    width: 100%;
    margin-top: 2.5vw;
    user-select: none;
}

@media screen and (min-width: 768px) {
    
    .product_container {
        width: 100%;
        height: 65vw;
    }
    
    #product {
        width: 30rem;
    }
    
    .item_img {
        width: 90%;
        margin-top: 1rem;
        user-select: none;
    }
}

@media screen and (min-width: 1200px) {
    
    .product_container {
        width: 100%;
        height: 65vw;
    }
    
    #product {
        width: 35rem;
    }
    
    .item_img {
        width: 90%;
        margin-top: 1rem;
        user-select: none;
    }

    .gift_text {
        bottom: 3.5rem;
    }

    .desktop_gift_card_wrapper {
        bottom: 2rem;
    }

    .loop_dots_wrapper {
        bottom: 4rem;
    }

    .review_text {
        position: relative;
        text-align: center;
        font-size: 2.25rem;
        color: #451E5D;
        bottom: 4rem;
    }
    
    .reviews {
        position: relative;
        text-align: center;
        bottom: 4rem;
    }

    .recommended_text {
        bottom: 4rem;
    }

    .recommended_carousel {
        bottom: 4rem;
    }

    .desktop_present_guide {
        bottom: 0;
    }
}